
<div class="d-flex justify-content-center align-items-center min-vh-100 flex-column">
  <div class="d-flex justify-content-center  my-5">
  <h3>Book your ticket here</h3>
</div>
<form class="card p-4" (ngSubmit)=" bookTicket()">
  <div class="form-group">
    <label for="seatNo">SeatNo</label>
    <input [(ngModel)]="seatNo" name="seatNo"
      type="text"
      class="form-control"
      id="seatNo"
      placeholder="Enter seatNO">
  </div>

  <button  type="submit" class="btn btn-primary my-2">Book</button>
</form>
</div>
<!-- <p>ticket-booking works!</p> -->

@if(tickets$ | async; as tickets){
<ul class="list-group" >
  @for(ticket of tickets;track ticket.pnr){
    <div class="my-3  d-flex justify-content-center  align-items-center w-100">
  <div class="card p-4 d-flex flex-row justify-content-between align-items-center w-75 ">

    <!-- Route -->
    <h5 class="fw-semibold mb-2">
      {{ ticket.origin }} 
      <span class="text-muted mx-2">→</span> 
      {{ ticket.destination }}
    </h5>

    <!-- PNR -->
    <div class="text-muted small mb-2">
      PNR: <span class="fw-medium text-dark">{{ ticket.pnr }}</span>
    </div>

    <!-- Time -->
    <div class="d-flex justify-content-between align-items-center gap-3">
      <div>
        <div class="fw-bold">
          {{ ticket.departureTime | date:'hh:mm a' }}
        </div>
        <small class="text-muted">Departure</small>
      </div>

     

      <div class="text-end">
        <div class="fw-bold">
          {{ ticket.arrivalTime | date:'hh:mm a' }}
        </div>
        <small class="text-muted">Arrival</small>
      </div>
    </div>

  </div>
</div>

}


 
  @if(tickets.length===0){
 <li class="list-group-item text-muted" >
    No tickets found
  </li>
  }
</ul>
}
