
@if(flights$ | async; as flights){
   @if (flights.length > 0) {
  <div class="d-flex justify-content-center align-items-center gap-3 mt-5 flex-wrap">
    @for(flight of flights;track flight.flightId){
    <div
      class="card w-100 "
     
    >
      <div class="card-body d-flex flex-row justify-content-between mx-10">
        <h5>{{ flight.airline }}</h5>

        <h5 class="text-muted">
          {{ flight.origin }} → {{ flight.destination }}
        </h5>
<span class="badge text-bg-success">  {{ flight.price | currency:'INR'}}</span>
       


        <h6>
          Arrival: {{ flight.arrivalTime | date:'dd MMM yyyy, hh:mm a' }}
        </h6>

        <h6>
          Departure: {{ flight.departureTime | date:'dd MMM yyyy, hh:mm a' }}
        </h6>

        <button
          class="btn btn-primary"
          (click)="SendFlightId(flight)"
        >
          Book Ticket
        </button>
      </div>
    </div>
  }
  </div>

   }@else {<p class="text-center mt-5 text-muted" >No flights found</p>}
}
